
/// Design For File News.html Party TOP

.HeroNews {
    background-color: rgb(230, 230, 230);   
    min-height: 30em;

    @media (max-width: 600px) {
        font-size: calc(.0 * 0vw + 1.38em);
        background-color: rgb(228, 228, 228);
        
    }

    @media (max-width: 440px) {
        font-size: calc(.0 * 0vw + 1.86em);
    }

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 30em;
        overflow: hidden;

        &::after {
            content:"";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 50em;
            height: 50em;
            transform: rotate(40deg);
            border: .075em solid #ccc;

            @media (max-width: 600px) {
                border: 0;
            }
        }

        @media (max-width: 600px) {
            flex-direction: column;
        }
    }

    &__text {
        max-width: 40em;
        min-height: auto;

        @media (max-width: 600px) {
            padding-top: 2em;
        }
    }

    &__title {
        position: relative;
        margin: 0;
        margin-bottom: 1em;
        font-weight: 300;
        font-size: 1.77em;
        color: $--color-DarkLow;
        text-transform: uppercase;

        &::after {
            content:"";
            position: absolute;
            bottom: -.45em;
            left: 0;
            width: 10%;
            height: .075em;
            background-color: #74D414;
        }

        &::before {
            content:"";
            position: absolute;
            bottom: -.45em;
            left: 2em;
            width: 7%;
            height: .075em;
            background: linear-gradient(to right , #74d414bb,#74d41476,#74d41416);
        }
    }

    &__content {
        margin: 0;
        font-size: .90em;
        font-weight: 300;
        line-height: 170%;
        max-width: 80%;
    }

    &__button {
        position: relative;
        margin-top: 6em;
        border: 0;
        outline: 0;
        @include HoverGif();
        background: transparent;
        cursor: pointer;

        @media (max-width: 500px) {
            margin-top: 3em;
        }
    }

    &__image {
        position: relative;
        width: 47em;
        height: 30em;
        background:  transparent url('/img/NewsBoule.svg') no-repeat 50% 45%  / 100%;


        @media (max-width: 600px) {
            height: 16em;
            background:  transparent url('/img/NewsBoule.svg') no-repeat 100% 54%  / 80%;
        }

        @media (max-width: 440px) {
            background:  transparent url('/img/NewsBoule.svg') no-repeat 77% 54%  / 77%;
        }


        &::after {
            content:"";
            position: absolute;
            top: 0;
            left: -.30em;
            perspective: 10px;
            width: 45em;
            height: 30em;
            background:  transparent url('/img/NewsBoule.svg') no-repeat 50% 45%  / 100%;
            animation: AlterInfini 3s ease-in-out infinite;

            @keyframes AlterInfini {
                // from {transform: rotateY(45deg);}
	            // to {transform: rotateY(225deg);}
                0%{transform: rotateY(10deg);}
                50%{transform: rotateY(180deg);}
                100%{transform: rotateY(0deg);}
            }

            @media (max-width: 600px) {
                top: -6em;
                left: 7.85em;
                right: 0;
                width: 40em;
                height: 27em;
            }

            @media (max-width: 440px) { 
                top: -6em;
                left: 6em;
            }
        }
    }

    &__linear {
        position: absolute;
        top: 3em;
        right: .50em;
        width: .15em;
        height: 15em;
        background-color: #74D414;

        @media (max-width: 600px) {
            display: none;
        }

        &::after {
            content:"";
            position: absolute;
            top: -.88em;
            right: -.40em;
            border: .15em solid #74D414;
            background-color: rgb(230, 230, 230);
            width: 1em;
            height: 1em;
            border-radius: 50%;
        }


        &::before {
            content:"";
            position: absolute;
            right: 0;
            bottom: -11.95em;
            width: .15em;
            height: 6.40em;
            background: linear-gradient(#74D414, #74d41483, rgb(230,230,230));
        }

        &-p {
            position: absolute;
            right: -3.75em;
            bottom: -7em;
            display: flex;
            align-items: center;
            font-size: .55em;
            text-transform: uppercase;
            height: 2em;
            width: 8em;
            color: #74D414;
            transform: rotate(90deg);
        }
    }
}